<<<<<<< HEAD
body{
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}
select {
    width:700px;
    height: 40px;
    border: solid 1px gray;
    border-radius: 8px;
    box-shadow:1px 1px 3px 1px grey;
    font-size: larger;
    font-weight: bold;
    margin: 10px;
}
input{
    width: 340px;
    height: 40px;
    margin: 10px;
    font-weight: bold;
    font-size: larger;
}
button{
    width: 800px;
    height: 50px;
    margin: 10px;
    font-weight: bold;
    font-size: larger;
    background-color: white;
    border: solid 1px grey;
    border-radius: 8px;
    box-shadow: 0 0 2px 0 gray;
}
table{
    margin: 0 auto;
    text-align: center;
    horiz-align:center;
    vertical-align: center;

    font-size: xx-large;
    font-weight: bold;

    border-collapse: separate;
}
th{
    color: whitesmoke;
    height: 45px;
    width: 100px;
    text-align: center;
    background-color: grey;
    border: solid 3px white;
}
td{
    border: solid 3px white;
    padding: 0 0.5em;

}
.grey{
    background-color: lightgrey;
}
#information{
    color: red;
=======
body{
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}
select {
    width:700px;
    height: 40px;
    border: solid 1px gray;
    border-radius: 8px;
    box-shadow:1px 1px 3px 1px grey;
    font-size: larger;
    font-weight: bold;
    margin: 10px;
}
input{
    width: 340px;
    height: 40px;
    margin: 10px;
    font-weight: bold;
    font-size: larger;
}
button{
    width: 800px;
    height: 50px;
    margin: 10px;
    font-weight: bold;
    font-size: larger;
    background-color: white;
    border: solid 1px grey;
    border-radius: 8px;
    box-shadow: 0 0 2px 0 gray;
}
table{
    margin: 0 auto;
    text-align: center;
    horiz-align:center;
    vertical-align: center;

    font-size: xx-large;
    font-weight: bold;

    border-collapse: separate;
}
th{
    color: whitesmoke;
    height: 45px;
    width: 100px;
    text-align: center;
    background-color: grey;
    border: solid 3px white;
}
td{
    border: solid 3px white;
    padding: 0 0.5em;

}
.grey{
    background-color: lightgrey;
}
#information{
    color: red;
>>>>>>> da7315281ec9c8a70f78c02c3b4c92da60ace72a
}