html, body, header, footer, hgroup, nav, main, article, section, figure, figcaption, h1, h2, h3, ul, li, body, div, p, img
{
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
}

*{
    padding: 0;
    margin:0;
}
body{
    min-width: 100%;
}
.header{
    background-image: url("sucai/images/works/large/095010.jpg");
    background-repeat: no-repeat;
    width:100%;
    height:300px;
}
.header h1{
    font-family: Shunpu;
    font-size: 2em;
    padding-left: 2em;
    font-family: Shunpu ;
    color:lightpink;
}
.header span{
    font-family:monospace;
    font-weight: 100;
    font-size: 20px;
    color: white;
}

.header ul{
    float: right;
}
.header li{
    list-style-type: none;
    float:right;
    color:white;
    font-weight: 300;
    font-size: 15px;
    margin-top: -1.1em;
}
#learnMore{
    position: absolute;
    left: 40%;
    top:30%
}

#learnMore p{
    border: solid white 0.2em;
}
a{
    padding: 0.5em 2em 0.5em 2em;
    cursor: pointer;
}
a:link{
    color: white;
    text-decoration: none;
}
a:visited{
    color: antiquewhite;
}
a:hover{
    color: deeppink;
    /*border-style: inset;*/
    /*border: brown 0.3em;*/
    /*box-shadow: crimson;*/
}
a:active{

}
.recommend div{
    padding:1em 6em 3em 6em ;
    float: left;
    text-align: center;
}

.recommend div img{
    width: 8em;
    height: 10em;
    border:solid cornflowerblue 0.3em;
    border-radius: 50%;
}
.recommend div img:hover{
    border-color: lightblue;

}
.recommend div .imag{
    background-color: white;
    padding: 0;
}
.author{
    font-style: italic;
}

.viewDetail{
    background-color: aqua;
}


