body{
    background-image: url("sucai/images/works/large/085030.jpg");
}

header{
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
}
header h1{
    position: absolute;
    top:0;
    left:0;
    font-size: 4em;
    font-weight: bolder;
    font-family: Shunpu;
    color: orange;
}
header #slogan{
    font-style: italic;
    font-family: ALTRASHED-rough;
}
header #advice{
    padding: 0.3em 1em 0.3em 1em;
    position: absolute;
    left: 30%;
    top: 25%;
    font-weight: lighter;
    font-size: small;
    border: solid orange 0.2em;
}
section div #imgOne{
    position: absolute;
    top: 40%;
    transform: rotate(30deg);
}
section div #imgTwo{
    position: absolute;
    top: 40%;
    left: 20%;
    transform: rotate(-30deg);
}
section div #imgThree{
    position: absolute;
    top: 40%;
    left: 40%;
    transform: rotate(30deg);
}
form{
    background-color: #f1f8fa;
    position: absolute;
    top: 20%;
    left: 40%;
    width: 55%;
    height: 75%;
    text-align: left;
    border: solid wheat 0.2em;
    padding: 1em 0 0 1em;
}
form span{
    font-weight: bold;
    font-size: larger;
}
form div{
    float: left;
    display: inline-block;
    padding-bottom: 0.3em;
}
form div p{
    float: left;
}
.short{
    padding: 0 2em 0 1em;
}
.long{
    padding: 0 1em 0 0;
}
#register{
    float: left;
}
form div input{
    float: left;
    width: 20em;
    height: 3.6em;
}
form button{
    border-style: none;
    background-color: orange;
    color: white;
    font-weight: bolder;
    font-size: large;
    width: 20em;
    height: 3em;
    padding: 0.5em ;
    margin-left: 2em;
    margin-top: 2em;
    border:solid orange 0.1em;
    border-radius: 0.3em;
    cursor: pointer;
}
#Cnicheng,#Cmima,#Cqueren,#Cdianhua{
    color: red;
    float: right;
    padding-right: 0.2em;
}